body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
  margin: 0 auto;
}

.form-control {
display: block;
/*width: 50%;
/*height: 34px;
margin: 0 auto;  */
margin: 10px; 
}